body {
  margin: 0;
  background-color: #14213d;
}
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
#player {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#controls {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  grid-template-rows: auto 50px;
  padding: 1rem;
  display: grid;
}

#buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 20px;
  padding-bottom: 1rem;
}

.btn-emotions,
#record-btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;

  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

.btn-emotions:hover,
#record-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.btn-emotions:focus,
#record-btn:focus {
  outline: none;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
}

#video-controls {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 20px;
  grid-template-columns: 80px auto;
}
#progress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

#bar {
  width: 1%;
  height: 100%;
  background-color: rgba(98, 253, 98, 0.7);
}

#progress > span {
  font-weight: 600;
  text-align: center;
  width: calc(100% - 80px);
  position: absolute;
  align-self: center;
  justify-self: center;
}

.hidden {
  visibility: hidden;
}

#pre-record {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 3rem;
  display: grid;
  color: white;
  align-content: center;
  grid-gap: 3rem;
}

#input-elements {
  display: grid;
  grid-row-gap: 2rem;
}

.input-wrap {
  display: grid;
  grid-row-gap: 1rem;
  font-size: large;
}
.input-wrap * {
  display: block;
}
#next-button {
  background-color: white;
  color: #14213d;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}
#next-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.range-wrap {
  display: flex;
  width: 100%;
  gap: 10px;
}

.range-wrap > input {
  margin: 0 auto;
  width: 100%;
}

.range-wrap pre {
  display: inline;
}
