body {
  position: relative;
  padding-top: 65px;
}
.navbar {
  background-color: #14213d !important;
}

.navbar * {
  color: #ffffff !important;
}
* {
  font-family: "Rubik", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  transition: 150ms;
  font-weight: 500;
}
.nav-link.active {
  font-weight: 700;
}
.nav-link {
  display: flex;
}
#contribute-button {
  flex: 0 0 auto;
  border: 2px solid #fca311;
  border-radius: 0.25rem;
  background-color: #fca311;
  color: #14213d !important;
  cursor: pointer;
}

#contribute-button:hover {
  font-weight: 700;
}

svg {
  display: inline-flex;
}

.mw-60 {
  max-width: 60%;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 1rem;
}

section {
  padding-top: 65px;
}
